// Mixins Here
.displayFlex(@direction, @justify, @align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.borderTest {
    border: 1px solid black;
}

.btnStyle{
    background-color: @header-font-color;
}